@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  border: 0;
}

img {
  display: block;
  width: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}

.title {
  font-family: Montserrat;
}
.title_xl {
  font-size: 48px;
  font-weight: 700;
}
.title_l {
  font-size: 48px;
  font-weight: 500;
}
.title_m {
  font-size: 36px;
  font-weight: 700;
}

.wrap {
  max-width: 1215px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.header {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 37px 0 31px;
  color: #FFF;
  font-family: Montserrat;
}
.header__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header__logo {
  font-size: 21px;
  font-weight: 500;
  line-height: 143%;
}
.header__items {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.contact-block__text {
  color: #FFF;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 500;
  line-height: 143%;
}

.hero-section {
  background: url(../img/bg.png) no-repeat center/cover;
  padding: 307px 0 465px 0;
  position: relative;
}
.hero-section__content {
  max-width: 647px;
  width: 100%;
  z-index: 1;
  position: relative;
}
.hero-section__decor {
  position: absolute;
}
.hero-section__decor_tr {
  width: 170px;
  height: 175px;
  top: 0;
  right: 0;
}
.hero-section__decor_br {
  width: 195.651px;
  height: 201.405px;
  bottom: 88px;
  right: 0px;
}
.hero-section__decor_tl {
  width: 195.651px;
  height: 201.405px;
  top: 240px;
  left: 0;
}
.hero-section__decor_bl {
  width: 275px;
  height: 286px;
  bottom: 0;
  left: 0;
}

.text-block {
  font-family: Montserrat;
  color: #FFF;
}
.text-block_color {
  color: #2E363E;
}
.text-block__btn-add {
  display: inline-block;
  padding: 10px 18px;
  border-radius: 5px;
  background: #F2F6FA;
  color: #2E363E;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.text-block__title {
  margin-bottom: 24px;
}
.text-block__desc {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 143%;
  margin-bottom: 40px;
}
.text-block__btn-link {
  display: inline-block;
  border-radius: 8px;
  background: #FED84C;
  padding: 30px 50px;
  color: #2E363E;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 152%;
}
.text-block__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}
.text-block__item {
  color: #2E363E;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  padding-left: 22px;
  position: relative;
}
.text-block__item::before {
  width: 10px;
  height: 10px;
  background-color: #5D6AFB;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
}

.catalog {
  position: relative;
}
.catalog__title {
  text-align: center;
  color: #2E363E;
  line-height: 60px;
  letter-spacing: -1px;
  margin-bottom: 80px;
}
.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  z-index: 1;
}
.catalog__decor {
  position: absolute;
}
.catalog__decor_tl {
  top: 350px;
  left: 214px;
}
.catalog__decor_bl {
  left: 252px;
  bottom: 170px;
}
.catalog__decor_tr {
  right: 236px;
  bottom: 734px;
}

.item-catalog {
  max-width: 380px;
  color: #2E363E;
  font-family: Montserrat;
}
.item-catalog__body {
  padding: 50px 44px;
}
.item-catalog__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 143%;
  margin-bottom: 12px;
}
.item-catalog__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}
.item-catalog__price {
  color: #434B53;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 14px;
}
.item-catalog__btn {
  font-size: 18px;
  font-weight: 500;
  line-height: 152%;
  padding: 20px 40px;
  border-radius: 8px;
  background: #FED84C;
  display: inline-block;
}

.content {
  background: #081130;
  position: relative;
}
.content__bg-top-img {
  background: lightgray 50%/cover no-repeat;
  background-color: #081130;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.content__bg-bottom-img {
  background: lightgray 50%/cover no-repeat;
  background-color: #081130;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.content__body {
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  position: relative;
  padding: 15% 0;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.content__text-block .text-block {
  max-width: 481px;
  width: 100%;
}
.content__picture {
  max-width: 481px;
}

.about__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 14px;
}
.about__text-block {
  flex: 0 1 50%;
  margin: 97px 0;
}
.about__text-block .text-block__list {
  width: 438px;
}
.about__woman {
  flex: 0 1 50%;
}

.woman {
  position: relative;
  max-width: 580px;
  width: 100%;
  height: 804px;
}
.woman::after, .woman::before {
  position: absolute;
  padding: 15px;
  font-family: Montserrat;
  border-radius: 5px;
  left: -15px;
  z-index: 4;
}
.woman::after {
  content: "ваш кондитер";
  text-transform: uppercase;
  color: var(--1, #2E363E);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  background-color: #F2F6FA;
  top: 67%;
}
.woman::before {
  content: "Юлия Кондратьева";
  text-transform: capitalize;
  font-size: 24px;
  font-weight: 500;
  background-color: #2E363E;
  color: #FFF;
  top: 60%;
}
.woman__pic {
  position: absolute;
}
.woman__pic_nos {
  top: 0;
  left: 10%;
  z-index: 3;
  max-width: 487px;
  height: 652px;
}
.woman__pic_nonos {
  bottom: 42px;
  left: 10%;
  z-index: 2;
  max-width: 487px;
  height: 439px;
}
.woman__ellipse {
  z-index: 1;
  position: absolute;
  border-radius: 580px;
  background: #FED84C;
  max-width: 580px;
  width: 100%;
  height: 580px;
  bottom: 0;
  left: 0;
}

.comment {
  background: #081130;
}
.comment__content {
  background: #081130;
}
.comment__title {
  color: #FFF;
  line-height: 60px;
  letter-spacing: -1px;
  margin-bottom: 80px;
  text-align: center;
}
.comment__list {
  display: flex;
  gap: 50px;
}
.comment__item {
  padding: 70px 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
  border-radius: 5px;
  border: 2px solid #E2EAF2;
  background: #FFF;
  box-shadow: 2px 8px 16px 0px rgba(194, 198, 208, 0.06);
  margin-bottom: 170px;
}
.comment__review {
  max-width: 460px;
}
.comment__pic {
  margin-bottom: 30px;
}
.comment__user-name {
  color: #2E363E;
  text-align: center;
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
  margin-bottom: 6px;
}
.comment__user-city {
  color: #A6AEB6;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.comment__arrow-list {
  text-align: center;
  padding-bottom: 24px;
}

.review-comment {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.review-comment__title {
  color: #2E363E;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 143%;
}
.review-comment__text-desc {
  color: #2E363E;
  /* Текст / 15px, regular (170%) */
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  /* 25.5px */
}
.review-comment__text-link {
  color: #4A94FF;
  /* Текст / 14px, Regular */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.review-comment__text-link:hover {
  color: #081130;
}

.gallery {
  text-align: center;
  color: #2E363E;
  font-family: Montserrat;
}
.gallery__title {
  line-height: 60px;
  letter-spacing: -1px;
  margin-bottom: 14px;
}
.gallery__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 143%;
  margin-bottom: 80px;
}
.gallery__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.gallery__item-link:hover {
  border-radius: 5px;
}

.order {
  background: #081130;
  color: #2E363E;
  font-family: Montserrat;
}
.order__content {
  text-align: center;
  padding: 70px 99px;
  border-radius: 8px;
  background: #FFF;
}
.order__title {
  line-height: 133%;
  margin-bottom: 12px;
}
.order__subtitle {
  font-size: 21px;
  font-weight: 400;
  line-height: 143%;
  letter-spacing: -0.2px;
  margin-bottom: 36px;
}
.order__form {
  margin-bottom: 24px;
}

.form-order {
  font-family: Montserrat;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.form-order__input {
  color: #7E868E;
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  border-radius: 8px;
  width: 100%;
  max-width: 380px;
  padding: 30px 0px 29px 58px;
  background: url(../img/Phone.svg) no-repeat;
  background-position: 7% 51%;
  background-color: #F2F6FA;
}
.form-order__btn {
  color: #2E363E;
  font-size: 18px;
  font-weight: 500;
  line-height: 152%;
  padding: 29px 0px;
  border-radius: 8px;
  background: #FED84C;
  width: 100%;
  max-width: 380px;
}

.form-checkbox {
  font-size: 11px;
}
.form-checkbox__link {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
.form-checkbox__link:hover {
  color: #2580d5;
}

.footer {
  text-align: center;
  background: #081130;
  color: #7E868E;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  padding: 80px 0;
}
.footer__list {
  list-style: none;
  margin-bottom: 22px;
  display: flex;
  flex-wrap: wrap;
  gap: 43px;
  justify-content: center;
}
.footer__item-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .hero-section {
    padding: 207px 0 365px 0;
  }
  .catalog__list {
    justify-content: center;
    gap: 15px;
  }
  .about__content {
    gap: 30px;
    justify-content: center;
  }
  .about__text-block .text-block__list {
    width: 100%;
  }
  .about__text-block {
    flex: 0 1 100%;
  }
  .about__woman {
    flex: 0 1 100%;
  }
  .woman__ellipse {
    max-width: 580px;
    width: 100%;
  }
  .woman::after, .woman::before {
    left: 0px;
  }
  .item-catalog__body {
    padding: 30px 24px;
  }
  .comment__item {
    padding: 40px;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .title {
    font-family: Montserrat;
  }
  .title_xl {
    font-size: 36px;
    font-weight: 700;
  }
  .title_l {
    font-size: 36px;
    font-weight: 500;
  }
  .title_m {
    font-size: 30px;
    font-weight: 700;
  }
  .contact-block svg {
    width: 20px;
    height: 20px;
  }
  .contact-block__text {
    font-size: 15px;
  }
  .content__text-block .text-block {
    max-width: unset;
  }
  .hero-section {
    padding: 200px 0;
  }
  .hero__content,
  .content__text-block,
  .about__text-block {
    max-width: 500px;
    margin: 0 auto;
  }
  .about .text-block {
    text-align: unset;
  }
  .item-catalog {
    max-width: 350px;
  }
}
@media screen and (max-width: 480px) {
  .about__woman .woman__ellipse {
    left: unset;
  }
  .order__content {
    padding: 70px 20px;
  }
  .woman__pic {
    left: 0;
  }
  .woman__pic_nos {
    left: 0;
  }
}/*# sourceMappingURL=styles.css.map */