*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input,
textarea {
    border: 0;
}

img {
    display: block;
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

a {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    color: inherit;
}

.wrap {
    max-width: 1215px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.header{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding: 37px 0 31px;
    color: #FFF;
    font-family: Montserrat;
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
    }
    &__logo {
        font-size: 21px;
        font-weight: 500;
        line-height: 143%;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 70px;
    }
}

.contact-block {
    &__text {
        color: #FFF;
        font-family: Montserrat;
        font-size: 21px;
        font-weight: 500;
        line-height: 143%;
    }
}

.title {
    &_big {
        
    }
}

.hero-section {
    background: url(../img/bg.png) no-repeat center/cover;
    padding: 307px 0 465px 0;
    position: relative;
    &__content {
        max-width: 647px;
        width: 100%;
        z-index: 1;
        position: relative;
    }
    &__decor {
        position: absolute;
        &_tr {
            width: 170px;
            height: 175px;
            top: 0;
            right: 0;
        }
        &_br {
            width: 195.651px;
            height: 201.405px;
            bottom: 88px;
            right: 0px;
        }
        &_tl {
            width: 195.651px;
            height: 201.405px;
            top: 240px;
            left: 0;
        }
        &_bl {
            width: 275px;
            height: 286px;
            bottom: 0;
            left: 0;
        }
    }
}


.text-block {
    font-family: Montserrat;
    color: #FFF;
    &__btn-add {
        display: inline-block;
        padding: 10px 18px;
        border-radius: 5px;
        background: #F2F6FA;
        color: #2E363E;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1.1px;
        text-transform: uppercase;
        margin-bottom: 24px;
    }
    &__title {
        margin-bottom: 24px;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: -1px;
    }
    &__desc {
        font-family: Montserrat;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 143%;
        margin-bottom: 40px;
    }

    &__btn-link {
        display: inline-block;
        border-radius: 8px;
        background:#FED84C;
        padding: 30px 50px;
        color: #2E363E;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 152%;
    }
    &_color {
        color: #2E363E;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }
    &__item {
        color:#2E363E;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        padding-left: 22px;
        position: relative;
        &::before {
            width: 10px;
            height: 10px;
            background-color: #5D6AFB;
            border-radius: 50%;
            content: '';
            position: absolute;
            top: 5px;
            left: 0;
        }
    }

}

.catalog {
    position: relative;
    &__title {
        text-align: center;
        color: #2E363E;
        font-feature-settings: 'clig' off, 'liga' off;
        /* Заголовки / 48 px, Medium */
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px;
        /* 125% */
        letter-spacing: -1px;
        margin-bottom: 80px;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;
        z-index: 1;
    }
    &__decor {
        position: absolute;
        &_tl {
            top: 350px;
            left: 214px;
        }
        &_bl {
            left: 252px;
            bottom: 170px;
        }
        &_tr {
            right: 236px;
            bottom: 734px;
        }
    }
}

.item-catalog {
    max-width: 380px;
    color: #2E363E;
        font-family: Montserrat;
    &__body {
        padding: 50px 44px;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 143%;
        margin-bottom: 12px;
    }
    &__desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        margin-bottom: 24px;
    }
    &__price {
        color: #434B53;
        font-size: 24px;
        font-weight: 500;
        line-height: 150%;
        margin-bottom: 14px;
    }
    &__btn {
        font-size: 18px;
        font-weight: 500;
        line-height: 152%;
        padding: 20px 40px;
        border-radius: 8px;
        background:  #FED84C;
        display: inline-block;
    }
}

.content {
    background: #081130;
    position: relative;
    &__bg-top-img {
        background: lightgray 50% / cover no-repeat;
        background-color: #081130;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &__bg-bottom-img {
        background: lightgray 50% / cover no-repeat;  
        background-color: #081130;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    &__body {
        display: flex;
        z-index: 5;
        position: relative;
    }
    &__text-block {
        flex: 0 1 50%;
        padding: 439px 0 459px 84px;
        & .text-block {
            max-width: 500px;
        }
    }
    &__picture {
        flex: 0 1 50%;
        background: url(../img/content/phone.png) no-repeat center/contain;
    }
}

.about {
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 14px;
        // flex-direction: column-reverse;
        // gap: 20px;
    }
    &__text-block {
        flex: 0 1 50%;
        margin: 97px 0;
        // max-width: 580px;
        // width: 100%;
        & .text-block__list {
            width: 438px;
        }
    }
    &__woman {
        flex: 0 1 50%;  
        // max-width: 580px;
        // width: 100%;
    }
}

.woman {
    position: relative;
    max-width: 580px;
    width: 100%;
    height: 804px;
    &::after,
    &::before {
        position: absolute;
        padding: 15px;
        font-family: Montserrat;
        border-radius: 5px;
        left: -15px;
        z-index: 4;
    }
    &::after {
        content: "ваш кондитер";
        text-transform: uppercase;color: var(--1, #2E363E);
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        background-color: #F2F6FA;
        top: 67%;
    }
    &::before {
        content: "Юлия Кондратьева";
        text-transform: capitalize;
        font-size: 24px;
        font-weight: 500;
        background-color: #2E363E;
        color: #FFF;
        top: 60%;
        }
    &__pic {
        position: absolute;
        &_nos {
            top: 0;
            left: 50px;
            z-index: 3;
            max-width: 487px;
                height: 652px;
        }
        &_nonos {
            bottom: 42px;
                left: 50px;
                z-index: 2;
                max-width: 487px;
                height: 439px;
        }
    }
    &__ellipse {
        z-index: 1;
        position: absolute;
        border-radius: 580px;
        background: #FED84C;
        max-width: 580px;
        width: 100%;
        height: 580px;
        bottom: 0;
        left: 0;
    }
    
}

.comment {
    background: #081130;

    &__content {
        background: #081130;
    }

    &__title {
        color: #FFF;
        font-family: Montserrat;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: -1px;
        margin-bottom: 80px;
        text-align: center;
    }

    &__body {
        padding: 70px 143px;
        display: flex;
        flex-wrap: wrap;
        gap: 54px;
        border-radius: 5px;
        border: 2px solid #E2EAF2;
        background: #FFF;
        box-shadow: 2px 8px 16px 0px rgba(194, 198, 208, 0.06);
        margin-bottom: 70px;
    }

    &__review {
        max-width: 460px;
    }

    &__pic {
        margin-bottom: 30px;
        // max-width: 380px;
    }

    &__user-name {
        color: #2E363E;
        text-align: center;
        font-family: Montserrat;
        font-size: 21px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%;
        margin-bottom: 6px;
    }

    &__user-city {
        color: #A6AEB6;
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
    }

    &__arrow-list {
        text-align: center;
        padding-bottom: 24px;
    }

    // &__arrow-item {
    //     width: 66px;
    //     height: 66px;
    //     background-color: #FED84C;
    //     border-radius: 50%;
    //     position: relative;
        
    // }
           
}

.review-comment {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__title {
        color: #2E363E;
        font-family: Montserrat;
        font-size: 30px;
        font-style: normal;
        font-weight: 500;
        line-height: 143%;
    }

    &__text-desc {
        color: #2E363E;
        /* Текст / 15px, regular (170%) */
        font-family: Montserrat;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        /* 25.5px */
    }

    &__text-link {
        color: #4A94FF;
        /* Текст / 14px, Regular */
        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        &:hover {
            color: #081130;
        }
    }
}

.gallery {
    text-align: center;
    color: #2E363E;
    font-family: Montserrat;
    
    &__title {
        font-size: 48px;
        font-weight: 500;
        line-height: 60px;
        letter-spacing: -1px;
        margin-bottom: 14px;
    }
    &__subtitle {
        font-size: 24px;
        font-weight: 400;
        line-height: 143%;
        margin-bottom: 80px;
    }
    &__list {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.order {
    background: #081130;
    color: #2E363E;
    font-family: Montserrat;
    &__content {
        text-align: center;
        padding: 70px 99px;
        border-radius: 8px;
        background:  #FFF;
    }
    &__title {
        font-size: 36px;
        font-weight: 700;
        line-height: 133%;
        margin-bottom: 12px;
    }
    &__subtitle {
        font-size: 21px;
        font-weight: 400;
        line-height: 143%;
        letter-spacing: -0.2px;
        margin-bottom: 36px;
    }
    &__form {
        margin-bottom: 24px;
    }
}

.form-order {
    font-family: Montserrat;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    &__input {
        color: #7E868E;
        font-size: 15px;
        font-weight: 400;
        line-height: 160%;
        border-radius: 8px;
        width: 100%;
        max-width: 380px;
        padding: 30px 0px 29px 58px;
        background: url(../img/Phone.svg) no-repeat;
        background-position: 7% 51%;
        background-color: #F2F6FA;
    }
    &__btn {
        color:  #2E363E;
        font-size: 18px;
        font-weight: 500;
        line-height: 152%;
        padding: 29px 0px;
        border-radius: 8px;
        background:  #FED84C;
        width: 100%;
        max-width: 380px;
    }
}

.form-checkbox {
    font-size: 11px;
    &__link {
        text-decoration: revert;
        &:hover {
            color: #2580d5;
        }
    }
}

.footer {
    text-align: center;
    background: #081130;
    color:  #7E868E;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    padding: 80px 0;
    &__list {
        list-style: none;
        margin-bottom: 22px;
        display: flex;
        flex-wrap: wrap;
        gap: 43px;
        justify-content: center;
    }
    &__item-link {
        &:hover {
            text-decoration: underline;
        }
    }
}
@media screen and (max-width: 1024px) {
    .catalog {
        &__list {
            justify-content: center;
        }
    }
    .about {
        &__content {
            justify-content: center;
        }
        &__text-block .text-block__list {
            width: 100%;
        }
    }

.content__text-block {
    padding: 139px 0 139px 84px;
}
.about {
    &__content{
        gap: 30px;
        justify-content: center;
    }
 
    &__text-block {
        flex: 0 1 100%;
    }
    &__woman {
        flex: 0 1 100%;
        & .woman__ellipse {
            left: -40px;
        }
    }
}
}



@media screen and (max-width: 1110px) {
    .woman {
        &__pic {
            left: 0;
        }
        &__ellipse {
            max-width: 580px;
            width: 100%;
        }
        &::after,
        &::before {
            left: 0px;
        }
    }
}
